{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["lib.es5.d.ts"],
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "dot-notation": ["off"],
    "no-useless-constructor": ["off"],
    "operator-linebreak": ["off"],
    "multiline-ternary": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": [ "error", 4, { "ignoredNodes": ["TemplateLiteral > *", "ConditionalExpression"] } ],
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
